{% extends 'SfAdminBundle::adminTemplate.html.twig' %}

{% block body %}

<div class="row">
  <div class="col-md-8">
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
  </div>  
</div>
{% endblock body %}
