h3{
    font-family: "DINProBlack",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.log a{
    color :#333;
    text-decoration: underline;
   
}
#main-content{
    min-height: 650px;
}
.border{
    border: 1px solid #848484;
    padding: 20px;
}
