.modal-header{
	border:none !important;
}



.modal-content{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-radius: 0;
}

.modal-footer{
	border:none;
	text-align: left;
	background-color: #52DDC6;
}

.modal label{
	width: 100%;
	text-align: center;
	font-family: 'DINProLight', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 15px;
}

.modal input{
	width: 100%;
	outline: none;
}



.modal-footer input{
	background-color:#52DDC6;
	border:1px solid #71A69C;
}

.modal-footer{
	margin-top: 0;
}

.modal-header.footer{
	background:url('../images/bg/bg_login.jpg') #52DDC6 center bottom no-repeat;
        height: 227px;
}