{% extends "SfFrontBundle::frontTemplate.html.twig" %}

{% block css %}
    <link href="{{asset('bundles/sffront/css/login.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}
{% block title %}Qwinsport - Mot de passe oublié{% endblock %}
 {% block bandeau %}{% endblock%}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div style="padding-top: 20px" id="main-content" class="col-md-10">
        <div class="alert alert-info col-md-10">
            {{ 'resetting.password_already_requested'|trans }}
        </div>
    </div>
{% endblock %}

