{% extends "SfFrontBundle::frontTemplate.html.twig" %}

{% block body %}
    <div id="main-content" class="container">
        {% include "SfUserBundle:Resetting:request_content.html.twig" %}
    </div>
{% endblock %}
