{% trans_default_domain 'FOSUserBundle' %}
<div style="margin-top: 50px;" class="col-md-4 col-md-offset-4">
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
         <h3>Mot de passe oublié</h3>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div class="form-group">
        <button class="submit" type="submit">{{ 'resetting.request.submit'|trans }}</button>
    </div>
</form>
</div>
