{% trans_default_domain 'FOSUserBundle' %}
<div style="margin-top: 50px;" class="col-md-4 col-md-offset-4">
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div>
        <button class="submit" type="submit" >{{ 'resetting.reset.submit'|trans }}</button>
    </div>
</form>
</div>
