{% extends "SfFrontBundle::frontTemplate.html.twig" %}

{% block css %}
    <link href="{{asset('bundles/sffront/css/login.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}
{% block title %}Qwinsport - Mot de passe oublié{% endblock %}
 {% block bandeau %}{% endblock%}
{% block body %}
    <div id="main-content" class="container">
       {% include "SfUserBundle:Resetting:reset_content.html.twig" %}
    </div>
{% endblock %}
