<p><b>{{ 'Transaction'|trans}} 
        {% if transaction is not null %}
        #{{ transaction.id }}
        {% endif %}
    </b></p>
<p>{{ 'La transaction a échouée, suite aux paramêtres envoyés par le prestataire de paiement'|trans({},'SfFrontBundle') }}</p>
<p>{{mailer_name}}.</p>

