{% extends "SfFrontBundle::frontTemplate.html.twig" %}
{% block css %}
    <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}
{% block ariane %}
    <div class="sous-categorie">Mentions Légales</div>
{% endblock %}
{% block bandeauClass %}
    legal
{% endblock %}
{% block title %}Qwinsport - Mentions Légales{% endblock %}


{% block body %}

    <div id="main-content" class="container">
       

          <div class="col-sm-9 col-md-10">
                {% if  entity.text is defined  %}
                    {{entity.text|raw}}
                {% endif %}
            </div>

        
    </div>

{% endblock %}

