{% extends 'SfFrontBundle::frontTemplate.html.twig' %}
{% block css %}
    <link href="{{asset('bundles/sffront/css/categories.css')}}?v={{version}}" rel="stylesheet">
{% endblock %}  
{% block ariane %}
    CATALOGUE
{% endblock %}
{% block bandeauClass %}
account
{% endblock %}
{% block body %}
    <div id="main-content"  class="col-md-10">


        


        <div class="col-md-12 ">

            <div class="col-md-6">
             {{render(controller('SfAdminBundle:Catalog:club'))}}
            </div>
                
            <div class="col-md-6">
                  {{render(controller('SfAdminBundle:Catalog:press'))}} 
            </div>


          
        </div>
    </div>
{% endblock %}
